@model WebApp1.Controllers.HomeController
@{
    ViewData["Title"] = "GetVideoApp";
    var xVdData = @Html.ViewData;
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<h2>GetVideoApp</h2>

<div>
    <form action="GetVideoService" method="post">
        <input type="text" id="id_text_url" name="text_url" style="width: 822px; height: 25px;" alt="insira o link aqui"/>
        <input type="submit" id="id_btn_getvideo" name="btn_getvideo" value="GetVideo" />
    </form>
    <div>
        <div>
            <video id="id_video" name="name_video" style="margin: 2px; width: 306px; height: 191px; visibility: '@Html.ViewData["vidVisibility"]'" autoplay="on">
                <source src=@ViewData["link1"] type="video/mp4" id="ib2" />
            </video>
        </div>
    </div>
    
    <script>
        $("#id_text_url").change(function () {
            $.ajax({
                method: 'POST',
                url: '/Home/Refresh', //  "/Controller/Action"
                data: { id_text_url: $("#id_text_url").val() }, // Pass value that you want to controller.
                success: function (data) {
                    //$("#ib2").val(data); //Implement partial refreshing.
                    $("#ib2").val(data);
                }
            });
        })
    </script>
    

    @{
        
        /*
    <div id="div1">
        @Html.DropDownList("drop1", d1)
        @Html.TextBox("tb1")
        <input type="text" id="ib1" />
    </div>

    <div id="div2">
        @Html.DropDownList("drop2", d2)
        <input type="text" id="ib2" />
    </div>
    */
    }

</div>



@{
    /*
     *
     * <script>
    $("#drop2").change(function () {
        $.ajax({
            method: 'POST',
            url: '/Home/RefreshDiv2', //  "/Controller/Action"
            data: { drop2: $("#drop2").val() }, // Pass value that you want to controller.
            success: function (data) {
                $("#ib2").val(data); //Implement partial refreshing.
            }
        });
    })
</script>*/
     
}
